body {
	border: 20px solid #dde8ed;
	padding:20px;
	max-width:700px;
	width: 80%;
	margin: 20px auto;
	font-family: Architect Daughter;

} 

.quote{
	border-left: 3px dotted #fadefa;
	padding-left: 5px;
}

.date{
	color: #fadefa;
	text-transform: uppercase;
	letter-spacing: 0.2rem
}

h2 {
	font-family:Patrick Hand;
	color:#385a69;
	font-size:2.0rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(232, 232, 232, 1), rgba(0, 0, 0, 0));
}

.post {
	margin-bottom: 20px;
}
