
h1{
  text-align:center;
}
table{
  border-collapse: collapse;
  margin: auto auto;
  width: 50%;
  height: 300px;
  
} 

#middle {
  border: 2px solid black;
}

#firstRow{
  border-bottom: 2px solid black;
}

#bottomRow{
  border-top: 2px solid black;
}

.right{
  border-right: 2px solid black;
}
